<div class="col-12 col-md-6 p-0">
  <div class="card mb-4">
    <div class="card-body">
      <% if @integration.persisted? %>
        <div class="alert alert-warning">
          <%= Spree.t('admin.integrations.google_analytics.reports_warning') %>
        </div>
      <% end %>

      <%= preference_field(@integration, form, 'measurement_id', i18n_scope: 'admin.integrations.google_analytics') %>
      <p class="mb-0 mt-n2">
        <%= link_to 'https://support.google.com/analytics/answer/12270356', target: "_blank", class: 'btn btn-link' do %>
          Where to find my Measurement ID?
          <%= icon('external-link', class: 'ml-2 mr-0') %>
        <% end %>
      </p>
    </div>
  </div>
</div>
